* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --greyscale-black-100: #18181B;
    --greyscale-black-80: #252532;
    --main-colors-linear: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--greyscale-black-100);
    color: #fff;
    font-family: Arial, sans-serif;
}


.header { 
    width: 100%;
    background: var(--greyscale-black-80);
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 36px;
}

.header__titel {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Styling for main content */

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.meme-wrapper {
   
}

.slider__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    width: 1100px;
    height: 800px;
    margin-left: 6%;
}


.slider {
    width: 1100px;
    height: 600px;
    overflow: hidden;
    border: 10px solid #c9bebe;
    border-radius: 9px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bar {
    display: flex;
    align-items: center;
    height: 35px;
    width: 55px;
    margin: 10px;
    cursor: pointer;
    background: #444;
    opacity: .8;
    border-radius: 9px;
    transition: all .4s ease;
}

.bar:hover {
    opacity: 0.8;
    transform: scale(1.1);
    background: #76c8ff;
	border-color: #777 !important;
}



input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 100%;
    transition: all .6s ease;
}
.slide img {
    width: 100%;
    height: 100%;
}

.content {
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.meme__titel {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.titel__wrapper {
    height: 600%;
    display: flex;
    flex-direction: column;
    transition: all 0.35s ease-in-out;
}

.title__text {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}



#r1:checked ~ .slider .slides .slide  {
    transform: translate(0);
}
#r2:checked ~ .slider .slides .slide  {
    transform: translate(-100%);
}
#r3:checked ~  .slider .slides .slide   {
    transform: translate(-200%);
}
#r4:checked ~ .slider .slides .slide   {
    transform: translate(-300%);
}

#r1:checked ~ .content .meme__titel .titel__wrapper .title__text {
    transform: translateY(0);
}
#r2:checked ~ .content .meme__titel .titel__wrapper .title__text {
    transform: translateY(-100%);
}
#r3:checked ~ .content .meme__titel .titel__wrapper .title__text {
    transform: translateY(-200%);
}
#r4:checked ~ .content .meme__titel .titel__wrapper .title__text {
    transform: translateY(-300%);
}



#r1:checked ~ .content .navigation label:nth-child(1),
#r2:checked ~ .content .navigation label:nth-child(2),
#r3:checked ~ .content .navigation label:nth-child(3),
#r4:checked ~ .content .navigation label:nth-child(4) {
   background-color: #e0d9d9;
}



